---
import "../styles/global.css";
// import "@fontsource-variable/manrope";

const { title } = Astro.props;

const meta = {
  title: "Tej Patel - Software Engineer from Mumbai",
  description:
    "Tej Patel is a skilled Software Engineer from Mumbai, focused on building high-performance user interfaces using React and modern frontend stacks",
  author: "Tej Patel",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Tej Patel - Software Engineer from Mumbai | {title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta name="author" content={meta.author} />
  </head>
  <body class="dark dark:bg-slate-900">
    <slot />
  </body>
</html>
